vjezba_10/mmarjano2_zadaca_3/mmarjano2_zadaca_3_2/src/conf/xml-resources/web-service-references/GeoMeteoWS/wsdl/localhost_8084/mmarjano2_zadaca_3_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.mmarjano2.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.mmarjano2.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.mmarjano2.nwtis.foi.org/" schemaLocation="http://localhost:8084/mmarjano2_zadaca_3_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="minMaxVlaga">
<part name="parameters" element="tns:minMaxVlaga"/>
</message>
<message name="minMaxVlagaResponse">
<part name="parameters" element="tns:minMaxVlagaResponse"/>
</message>
<message name="dajSveuredaje">
<part name="parameters" element="tns:dajSveuredaje"/>
</message>
<message name="dajSveuredajeResponse">
<part name="parameters" element="tns:dajSveuredajeResponse"/>
</message>
<message name="dodajUredaj">
<part name="parameters" element="tns:dodajUredaj"/>
</message>
<message name="dodajUredajResponse">
<part name="parameters" element="tns:dodajUredajResponse"/>
</message>
<message name="minMaxTemp">
<part name="parameters" element="tns:minMaxTemp"/>
</message>
<message name="minMaxTempResponse">
<part name="parameters" element="tns:minMaxTempResponse"/>
</message>
<message name="minMaxTlak">
<part name="parameters" element="tns:minMaxTlak"/>
</message>
<message name="minMaxTlakResponse">
<part name="parameters" element="tns:minMaxTlakResponse"/>
</message>
<message name="dajSveMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjaj"/>
</message>
<message name="dajSveMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjajResponse"/>
</message>
<message name="dajPosljednjePodatke">
<part name="parameters" element="tns:dajPosljednjePodatke"/>
</message>
<message name="dajPosljednjePodatkeResponse">
<part name="parameters" element="tns:dajPosljednjePodatkeResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="minMaxVlaga">
<input wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/minMaxVlagaRequest" message="tns:minMaxVlaga"/>
<output wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/minMaxVlagaResponse" message="tns:minMaxVlagaResponse"/>
</operation>
<operation name="dajSveuredaje">
<input wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/dajSveuredajeRequest" message="tns:dajSveuredaje"/>
<output wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/dajSveuredajeResponse" message="tns:dajSveuredajeResponse"/>
</operation>
<operation name="dodajUredaj">
<input wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/dodajUredajRequest" message="tns:dodajUredaj"/>
<output wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/dodajUredajResponse" message="tns:dodajUredajResponse"/>
</operation>
<operation name="minMaxTemp">
<input wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/minMaxTempRequest" message="tns:minMaxTemp"/>
<output wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/minMaxTempResponse" message="tns:minMaxTempResponse"/>
</operation>
<operation name="minMaxTlak">
<input wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/minMaxTlakRequest" message="tns:minMaxTlak"/>
<output wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/minMaxTlakResponse" message="tns:minMaxTlakResponse"/>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<input wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaUredjajRequest" message="tns:dajSveMeteoPodatkeZaUredjaj"/>
<output wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaUredjajResponse" message="tns:dajSveMeteoPodatkeZaUredjajResponse"/>
</operation>
<operation name="dajPosljednjePodatke">
<input wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/dajPosljednjePodatkeRequest" message="tns:dajPosljednjePodatke"/>
<output wsam:Action="http://serveri.ws.mmarjano2.nwtis.foi.org/GeoMeteoWS/dajPosljednjePodatkeResponse" message="tns:dajPosljednjePodatkeResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="minMaxVlaga">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveuredaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajUredaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="minMaxTemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="minMaxTlak">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPosljednjePodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/mmarjano2_zadaca_3_1/GeoMeteoWS"/>
</port>
</service>
</definitions>